.container {
  display: flex;
  margin-top: 5px;
  height: 100%;
  width: 100%;
}

.container > div {
  flex: 1;
}

.container mat-card {
  height: 100%;
}

#grid, #chart {
  width: 45%;
  height: 100%;
}

#grid {
  margin-right: 1px;
}

.heading{
  text-align: center;
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}